.header {
    background-image: url("../assets/images/header-bg-img.png");
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.personal{
    position: relative;
}

.personal::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    right: -65px;
    top: 50%;
}

.personal__list {
    display: flex;
}

.social__list {
    display: flex;
}

.nav__link {
    color: #ffffff;
    font-family: 'MuliRegular', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 35px;
}

.personal-link {
    margin-right: 45px;
    position: relative;
}

.social__link {
    margin-right: 10px;
}

.nav__list-item {
    list-style-type: none;
}

.social__list-item {
    list-style-type: none;
}

.personal__list-item {
    list-style-type: none;
}

.personal__counter{
    background-color: #fff;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
    font-size: 10px;
    color: #000;
    position: absolute;
    top: -20px;
    left: 20px;
}

.header__btn {
    color: #ffffff;
    font-family: "Muli - Extra Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    border-radius: 35px;
    background-color: #0aa566;
    padding: 25px 125px 25px 40px;
    background-image: url("../assets/images/header__arrow.png");
    background-repeat: no-repeat;
    background-position: 200px 28px;
}

.header__btn:hover{
    background-color: #5cfdbd;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 100px;
}

.nav__list {
    display: flex;
}

.smoothies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smoothies__title {
    display: flex;
    justify-content: center;
    font-family: Muli, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #f7ae3b;
    margin-top: 100px;
}

.smoothies__description {
    display: flex;
    justify-content: center;
    width: 915px;
    font-family: Muli, sans-serif;
    line-height: 2;
    text-align: center;
    color: #1e1e1e;
    margin-block-end: 90px;
}

.smoothies__list {
    display: flex;
    flex-direction: column;
    width: 915px;
    font-family: Muli, sans-serif;
    text-align: center;
    color: #f2612d;
}

.smoothies__list-one {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 50px 0;
}

.smoothies__list-two {
    display: flex;
    justify-content: space-between;
    padding: 0 0 150px 0;
}

.about {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    background-color: #14826f;
}

.about__img {
    transform: translate(140px, 65px);
}

.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about__title {
    width: 650px;
    font-family: Muli, sans-serif;
    font-size: 55px;
    font-weight: 800;
    text-align: left;
    color: #ffffff;
}

.about__title--green {
    color: #cae941;
    position: relative;
}

.about__title--green::after{
    content: "";
    position: absolute;
    background-image: url("../assets/images/about__title--green.png");
    background-repeat: no-repeat;
    left: -10px;
    top: 70px;
    width: 500px;
    height: 50px;
}

.about__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.about__list-item {
    background-image: url("../assets/images/about__list.png");
    background-repeat: no-repeat;
    font-family: Muli, sans-serif;
    font-size: 21px;
    font-weight: 100;
    color: #ffffff;
    padding: 0 0 25px 40px;
}

.about__list-item--big {
    font-weight: 800;
}

.about__list {
    list-style-type: none;
    padding-left: 0;
}

.about__btn {
    padding: 20px 90px 20px 30px;
    border-radius: 30px;
    border: solid 2px #f8b231;
    background-color: #14826f;
    font-family: Muli, sans-serif;
    font-size: 21px;
    font-weight: 800;
    text-align: left;
    color: white;
    background-image: url("../assets/images/header__arrow.png");
    background-repeat: no-repeat;
    background-position: 310px 25px;
}

.about__btn:hover{
    background-color: #5cfdbd;
}

.products {
    display: flex;
}

.products__list-color {
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    background-color: #632b17;
}

.products__title {
    margin: 0;
    padding-top: 30px;
    font-family: Muli, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.products__title-little {
    font-size: 21px;
    color: white;
}

.products__btn {
    padding: 20px 120px 20px 40px;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background: transparent;
    font-family: Muli, sans-serif;
    font-weight: 800;
    color: white;
    margin: 65px;
    position: relative;
}

.products__btn::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 16px;
    background-image: url("../assets/images/products__btn-arrow.png");
    top: 20px;
    right: 30px;
}

.products__btn:hover{
    background-color: #5cfdbd;
}

.products__list-about {
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    background-color: #178670;
}

.products__list-orange {
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    background-color: #f7ae3b;
}

.products__list-red {
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    background-color: #c3471b;
}

.story{
    display: flex;
    justify-content: center;
}

.story__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story__title {
    font-family: Muli, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    color: #f7ae3b;
}

.story__description {
    width: 515px;
    font-family: Muli, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #1e1e1e;
}

.story__btn {
    padding: 20px 150px 20px 30px;
    color: white;
    border-radius: 30px;
    background-color: #0aa566;
    font-family: Muli, sans-serif;
    font-weight: 800;
    position: relative;
}

.story__btn::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 16px;
    background-image: url("../assets/images/header__arrow.png");
    top: 20px;
    right: 50px;
}

.story__btn:hover{
    background-color: #5cfdbd;
}

.story {
    display: flex;
    margin-top: 120px;
}

.testimonials {
    margin-top: 160px;
    background-position: center center;
    background-size: cover;
    background-color: #672f1b;
    position: relative;
}

.testimonials::after{
    content: "";
    position: absolute;
    width: 800px;
    height: 200px;
    background-image: url("../assets/images/testimonials__sarah.png");
    background-repeat: no-repeat;
    top: 230px;
    right: 640px;
}

.testimonials__title {
    display: flex;
    justify-content: center;
    font-family: Muli, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #f7ae3b;
    padding-top: 120px;
    position: relative;
}

.testimonials__title::after{
    content: "";
    position: absolute;
    width: 420px;
    height: 310px;
    background-image: url("../assets/images/testimonials__title-dots.png");
    background-repeat: no-repeat;
    top: -75px;
    right: 35px;
}

.testimonials__title-big {
    color: #f2612d;
}

.testimonials__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    z-index: 2;
}

.testimonials__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.testimonials__quote {
    width: 515px;
    font-family: Muli, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 2;
}

.testimonials__author {
    font-weight: 600;
    font-style: italic;
    line-height: 2.5;
    color: #f7ae3b;
}

.testimonials__img{
    z-index: 1;
}

.testimonials__rotate{
    transform: rotate(180deg);
    padding-left: 100px;
}

.testimonials__arrows{
    text-align: center;
    padding: 120px 0 80px 0;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.blog__title {
    width: 220px;
    font-family: Muli, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #f7ae3b;
}

.blog__article-img{
    margin-top: 265px;
}

.blog__article-title{
    font-family: Muli, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #f2612d;
}

.blog__article-time{
    font-family: Muli, sans-serif;
    font-size: 16px;
    color: #1e1e1e;
    padding-right: 460px;
}

.blog__article-description{
    width: 470px;
    font-family: Muli, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #1e1e1e;
}

.blog__description-detail{
    font-weight: 800;
    font-style: italic;
    position: relative;
}

.blog__description-detail::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    background-image: url(../assets/images/blog__description-arrow.png);
    background-repeat: no-repeat;
    top: 6px;
    right: -30px;
}

.blog__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram__title{
    font-family: Muli-ExtraBold, sans-serif;
    color: #0aa566;
    text-align: center;
    background-image: url("../assets/images/instagram__title.png");
    background-repeat: no-repeat;
    background-position: 815px 0;
}

.instagram__list{
    display: flex;
    padding-top: 40px;
}

.instagram__list-item{
    flex-basis: 20%;
}
.instagram__list-img{
    width:100%;
}

.footer{
    background-color: #f6ab3b;
}

.footer__top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 79px 100px 93px 102px;
}

.logo__img{
    padding-right: 200px;
}

.footer__title{
    font-family: Muli, sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-align: left;
    color: #ffffff;
}

.footer__info{
    padding-right: 150px;
}

.footer__pay{
    padding-right: 200px;
}

.footer__out{
    display: block;
}

.footer__list{
    list-style-type: none;
    padding-left: 0;
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    width: 170px;
}

.footer__link{
    text-decoration: none;
    color: #6d450c;
}

.footer__email{
    padding: 20px 220px 20px 60px;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: Muli, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #6d450c;
    background-image: url("../assets/images/footer__email.png");
    background-repeat: no-repeat;
    background-position: 25px 20px;
}

.footer__btn{
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    color: #6d450c;
    background:transparent;
    border:none;
}

.newsocial{
    display: flex;
    padding-left: 100px;
}

.newsocial__list{
    display: flex;
    list-style-type: none;
}

.newsocial__img{
    padding-right: 25px;
}

.footer-content{
    padding: 25px 164px 21px 869px;
    background-color: #6c2c1c;
}

.footer-content__rights{
    font-family: Muli, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #af8a82;
    position: relative;
}

.footer-content__rights::after{
    content: "";
    position: absolute;
    width: 115px;
    height: 70px;
    background-image: url(../assets/images/footer-content__arrow-up.png);
    background-repeat: no-repeat;
    top: -50px;
    right: -755px;
}