.header {
    height: 100vh;
    background-image: url("../assets/images/header-bg-img.png");
    background-position: center center;
    background-size: cover;
}

.personal{
    position: relative;
}

.personal::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    right: -65px;
    top: 50%;
}

.personal__list {
    display: flex;
}

.social__list {
    display: flex;
}

.nav__link {
    margin-right: 35px;
    color: #ffffff;
    font-family: 'MuliRegular', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.personal-link {
    margin-right: 45px;
    position: relative;
}

.social__link {
    margin-right: 10px;
}

.nav__item {
    list-style-type: none;
}

.personal__counter{
    display: inline-block;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -20px;
    left: 20px;
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
    font-size: 10px;
}

.header__btn {
    padding: 25px 125px 25px 40px;
    background-image: url("../assets/images/header__arrow.png");
    background-position: 200px 28px;
}

.btn{
    color: white;
    font-family: "Muli", sans-serif;
    font-weight: 800;
    font-size: 21px;
    text-align: left;
    border-radius: 35px;
    background-color: #0aa566;
    background-repeat: no-repeat;
}

.btn:hover{
    background-color: #5cfdbd;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 100px 100px;
}

.nav__list {
    display: flex;
}

.smoothies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: Muli, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #f7ae3b;
}

.smoothies__title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.text{
    font-family: Muli, sans-serif;
    line-height: 2;
    color: #1e1e1e;
}

.smoothies__text {
    display: flex;
    justify-content: center;
    width: 915px;
    margin-block-end: 90px;
    text-align: center;
}

.smoothies__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 915px;
    flex-basis: 350px;
    padding-block-end: 150px;
    font-family: Muli, sans-serif;
    text-align: center;
    color: #f2612d;
}

.smoothies__column{
    flex-basis: 25%;
}

.about {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    background-color: #14826f;
}

.about__img {
    transform: translate(0, 65px);
}

.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 170px;
}

.about__title {
    width: 630px;
    color: #ffffff;
}

.title__strong {
    position: relative;
    color: #cae941;
}

.title__strong::after{
    content: "";
    width: 500px;
    height: 50px;
    position: absolute;
    left: -10px;
    top: 70px;
    background-image: url("../assets/images/about__title--green.png");
    background-repeat: no-repeat;
}

.about__list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.about__item {
    padding: 0 0 25px 40px;
    background-image: url("../assets/images/about__list.png");
    background-repeat: no-repeat;
    font-family: Muli, sans-serif;
    font-size: 21px;
    font-weight: 100;
    color: #ffffff;
}

.about__item--strong {
    font-weight: 800;
}

.about__list {
    padding-left: 0;
    list-style-type: none;
}

.about__btn {
    padding: 20px 90px 20px 30px;
    border: solid 2px #f8b231;
    background-image: url("../assets/images/header__arrow.png");
    background-position: 310px 25px;
    background-color: #14826f;
}

.products {
    display: flex;
}

.products__column {
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}

.chocolate{
    background-color: #632b17;
}

.products__title {
    margin: 0;
    padding-top: 30px;
    font-family: Muli, sans-serif;
    text-align: center;
    color: #ffffff;
}

.products__text {
    color: white;
}

.products__btn {
    padding: 20px 120px 20px 40px;
    margin: 65px;
    position: relative;
    border: solid 2px #ffffff;
    background: transparent;
}

.products__btn::after{
    content: "";
    width: 30px;
    height: 16px;
    position: absolute;
    top: 25px;
    right: 30px;
    background-image: url("../assets/images/products__btn-arrow.png");
}

.lettuce {
    background-color: #178670;
}

.lemon {
    background-color: #f7ae3b;
}

.turmeric {
    background-color: #c3471b;
}

.story{
    display: flex;
    justify-content: center;
}

.story__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story__text {
    width: 460px;
}

.story__btn {
    padding: 20px 150px 20px 30px;
    margin-top: 50px;
    position: relative;
}

.story__btn::after{
    content: "";
    width: 30px;
    height: 16px;
    position: absolute;
    top: 25px;
    right: 50px;
    background-image: url("../assets/images/header__arrow.png");
}

.story {
    display: flex;
    margin-top: 120px;
}

.recom {
    margin-top: 160px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-color: #672f1b;
}

.recom::after{
    content: "";
    width: 800px;
    height: 200px;
    position: absolute;
    top: 230px;
    right: 640px;
    background-image: url("../assets/images/testimonials__sarah.png");
    background-repeat: no-repeat;
}

.recom__title {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    position: relative;
}

.recom__title::after{
    content: "";
    width: 420px;
    height: 310px;
    position: absolute;
    top: -75px;
    right: 35px;
    background-image: url("../assets/images/testimonials__title-dots.png");
    background-repeat: no-repeat;
}

.title-strong {
    color: #f2612d;
}

.recom__view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    z-index: 2;
}

.recom__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.recom__quote {
    width: 515px;
    font-family: Muli, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 2;
}

.recom__author {
    font-weight: 600;
    font-style: italic;
    line-height: 2.5;
    color: #f7ae3b;
}

.recom__img{
    z-index: 1;
}

.recom__rotate{
    padding-left: 100px;
    transform: rotate(180deg);
}

.recom__arrows{
    padding: 120px 0 80px 0;
    text-align: center;
}

.blog__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    margin-top: 100px;
}

.blog__article{
    padding-top: 200px;
}

.blog__view{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view__title{
    font-family: Muli, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #f2612d;
}

.view__time{
    padding-right: 460px;
    font-family: Muli, sans-serif;
    font-size: 16px;
    color: #1e1e1e;
}

.view__text{
    width: 425px;
}

.view__detail{
    position: relative;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.view__detail::after{
    content: "";
    width: 20px;
    height: 10px;
    position: absolute;
    top: 6px;
    right: -30px;
    background-image: url(../assets/images/blog__description-arrow.png);
    background-repeat: no-repeat;
}

.instagram__title{
    background-image: url("../assets/images/instagram__title.png");
    background-repeat: no-repeat;
    background-position: 815px 0;
    font-family: Muli-ExtraBold, sans-serif;
    color: #0aa566;
    text-align: center;
}

.instagram__list{
    display: flex;
    padding-top: 40px;
}

.instagram__item{
    flex-basis: 20%;
}
.instagram__img{
    width:100%;
}

.footer{
    background-color: #f6ab3b;
}

.footer__top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 79px 100px 93px 102px;
}

.logo__img{
    padding-right: 200px;
}

.footer__title{
    font-family: Muli, sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-align: left;
    color: #ffffff;
}

.footer__info{
    padding-right: 150px;
}

.footer__pay{
    padding-right: 200px;
}

.footer__out{
    display: block;
}

.footer__list{
    width: 170px;
    padding-left: 0;
    list-style-type: none;
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
}

.footer__link{
    text-decoration: none;
    color: #6d450c;
}

.footer__email{
    padding: 20px 220px 20px 60px;
    border-radius: 30px;
    background-color: #ffffff;
    background-image: url("../assets/images/footer__email.png");
    background-repeat: no-repeat;
    background-position: 25px 20px;
    font-family: Muli, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #6d450c;
}

.footer__btn{
    background:transparent;
    border:none;
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    color: #6d450c;
}

.footer__wrap{
    display: flex;
    padding-left: 100px;
}

.wrap__list{
    display: flex;
    list-style-type: none;
}

.wrap__img{
    padding-right: 25px;
}

.footer__bottom{
    padding: 25px 164px 21px 869px;
    background-color: #6c2c1c;
}

.footer__rights{
    position: relative;
    font-family: Muli, sans-serif;
    font-size: 13px;
    text-align: center;
    color: #af8a82;
}

.footer__rights::after{
    content: "";
    width: 115px;
    height: 70px;
    position: absolute;
    top: -50px;
    right: -755px;
    background-image: url(../assets/images/footer-content__arrow-up.png);
    background-repeat: no-repeat;
}