// main: ./../main.less
.header{
  &__btn {
    padding: 25px 125px 25px 40px;
    background-image: url("../assets/images/header__arrow.png");
    background-position: 200px 28px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    @media (max-width: 1270px) {
      margin-top: -15%;
    }
  }        
}