// main: ./../main.less
.social{
  &__list {
    display: flex;
  }
  &__link {
    margin-right: 10px;
  }
}
.header__right {
    display: flex;
    @media (max-width: 1270px) {
      display: block;
    }
  }